#clockcontainer{
    position: relative;
    margin: auto;
    height: 50vw;
    width: 50vw;
    /* height: 500px;
    width: 500px; */
    background: url(clck.jpg) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    width:2%;
    height: 18%;
    top: 21%;
    left: 48.3%;
    opacity: 0.8;
    /* display: none; */
    transform-origin: bottom;
}
#minute{
    width:2%;
    height: 22%;
    top: 17%;
    left: 48.3%;
    opacity: 0.8;
    transform-origin: bottom;
    /* display: none; */
    
}
#second{
    width:2%;
    height: 25%;
    top: 14%;
    left:48.3%;
    opacity: 0.8;
    transform-origin: bottom;
    /* display: none; */
}